.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-item{
    background: orange;
    padding: 5px;
    margin-top: 20px;
    color: antiquewhite;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
#id1{
    flex-grow: 3;
}
#id2{
    flex-grow: 4;
}
#id3{
    flex-grow: 6;
}
